In [3]:
import pandas as pd

In [11]:
# Read data stored in 'balance.txt' into a DataFrame.
df = pd.read_csv('balance.txt', delim_whitespace=True)

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity. 
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()`For a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [21]:
# Compare the average income based on ethnicity.
df.groupby('Ethnicity')['Income'].mean()

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [29]:
# On average, do married or single people have a higher balance?
print(df.groupby('Married')['Balance'].mean())
print("Base on above data single people have a higher balance.")

Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64
Base on above data single people have a higher balance.

In [26]:
# What is the highest income in our dataset?
print("The highest income in our dataset is $", df.loc[:,'Income'].max())

The highest income in our dataset is $ 186.63400000000001

In [30]:
# What is the lowest income in our dataset?
print("The lowest income in our dataset is $", df.loc[:,'Income'].min())

The lowest income in our dataset is $ 10.354000000000001

In [33]:
# How many cards do we have recorded in our dataset? (Hint: use `sum()`)
print("Number of Cards we have recorded is", df.loc[:,'Cards'].sum(),"pcs.")

Number of Cards we have recorded is 1183 pcs.

In [41]:
# How many females do we have information for vs how many males?
df.groupby('Gender').count()

,Balance,Income,Limit,Rating,Cards,Age,Education,Student,Married,Ethnicity
Gender,,,,,,,,,,
Female,207,207,207,207,207,207,207,207,207,207
Male,193,193,193,193,193,193,193,193,193,193